.dashboard {
  z-index: 10;
  font-size: 1em;
  .p-dashboard-line {
    i {
      float: left;
      font-size: 1.8em;
      margin-top: 10px;
      margin-right: 5px;
    }

    select {
      font-size: 1.3em;
      float: left;
      padding-left: 20px;
      margin-top: 10px;
    }

    p {
      font-size: 1.7em;
      font-weight: 500;
    }
    input{
      font-size: 1.1em;
      margin-top: 10px;
    }
    span{
      font-size: 1.4em;
      padding-top: 10px;
    }
  }
}

@media only screen and (max-width: 768px){
  .dashboard {
    font-size: 0.6em;
  }
}
